@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h4 {
    @apply text-2xl font-bold;
  }

  p {
    @apply text-xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.top-section {
  position: absolute;
  top: 16px;
  display: grid;
  place-content: center;
  width: 36px;
  height: 36px;
}

.notes-section {
  background-color: #900603;
  border-radius: 20px;
}

.badge {
  display: grid;
  height: 6rem;
  width: 6rem;
  background-color: #900603;
  border-radius: 100%;
  place-content: center;
}

.continue-button {
  background-color: #900603;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.continue-button:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.continue-button:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6) inset;
}

.progress-bar {
  box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.3);
}

.course-card {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.profile-page {
  height: 800px;
}

.log-out-button {
  font-size: small;
  background-color: #900603;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.log-out-button:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) inset;
}

.section-title {
  color: #900603;
}
